/* MSG Input */

.msg-container,
.msg-input-wrapper {
    font-family: Arial, sans-serif;
}

.msg-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--header-bg);
    padding-block: 0.65rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 3.9rem;
    padding-inline: 1.2rem;
}

.msg-input-container span>img {
    width: 24px;
}

.msg-input-container>.input-box {
    flex-grow: 1;
    background-color: var(--user-input-bg);
    padding: 0.6rem 0.7rem 0.7rem 0.7rem;
    border-radius: 8px;
}

.msg-input-container>.input-box>input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0.95rem;
    color: var(--primary-text);
}

.msg-input-container>.input-box>input::placeholder {
    color: var(--input-placeholder);
    font-size: 0.95rem;
}


/* MSG Container */

.message-container {
    margin-bottom: 4rem;
    padding-inline: 4.6rem;
}

.msg-group-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-block: 0.45rem;
}

.msg-group-container>.date-container {
    margin: auto;
    margin-bottom: 0.8rem;
    height: 32px;
    display: flex;
    align-items: center;
    padding-inline: 0.85rem;
    border-radius: 8px;
    background-color: var(--secondary-bg);
}

.msg-group-container .date {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--secondary-text);
    text-transform: uppercase;
}

.msg-group-container>.msg-block {
    display: flex;
    position: relative;
    margin-block-end: 0.2rem;
    padding: 0.4rem 0.45rem 0.5rem 0.55rem;
    border-radius: 0.45rem;
    max-width: 30.5rem;
}

.msg-group-container>.msg-block.bg-dark {
    background-color: var(--header-bg);
}

.msg-group-container>.msg-block.bg-green {
    background-color: var(--green-bg);
}

.msg-group-container>.msg-block.border {
    border: 3px solid var(--msg-border);
}

.msg-group-container>.msg-block .text {
    color: var(--msg-text-primary);
    font-size: 0.9rem;
    line-height: 1.2;
}

.msg-group-container>.msg-block .space {
    width: 3.5rem;
    height: 12px;
    display: inline-block;
}

.msg-group-container>.msg-block>.time {
    position: absolute;
    bottom: 9px;
    color: var(--msg-time);
    right: 7px;
    font-size: 0.7rem;
}

.msg-block.from:nth-child(2) {
    border-top-left-radius: 0;
}

.msg-block.to:nth-child(2) {
    border-top-right-radius: 0;
}

.msg-block.from:nth-child(2)::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--header-bg);
    position: absolute;
    left: -8px;
    top: -6px;
    rotate: -62deg;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.msg-block.to:nth-child(2)::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--green-bg);
    position: absolute;
    right: -2px;
    top: -6px;
    rotate: -65deg;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}